.arbeitsbereich {
  width: 90%;
  display: flex;
  min-height: 200px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.areaRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 1rem;
}

@media (max-width: 1000px) {
  .arbeitsbereich {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .areaLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}