.colorPicker {

  z-index: 1;
  position: fixed;
  /* left: 0; */
  /* bottom: 3.2rem; */

}

.colorPickerShifted {
  /* bottom: unset; */
  /* top: 3.2rem; */
}

@media (max-width: 1000px) {
  .colorPicker {
    top: 0 !important;
    left: 0 !important;
    position: fixed;
  }
}