.palette {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

.align4colours {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2px;
}

@media (max-width: 1000px) {
  .align4colours {
    grid-template-columns: repeat(4, 1fr);
  }
}