.topMenu {
  /* background-color: red; */
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bitSelection {
  margin: 0 1rem;
  cursor: pointer;
}

.divider {
  width: 2px;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: light) {
  .divider {
    background-color: #213547;
  }
}

@media (max-width: 780px) {
  .topMenu {
    flex-wrap: wrap;
    height: auto;
  }

  h1 {
    margin: 0rem;
  }
}